* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #F7E9DF;
  --second-color: #83a347;
  --third-color: #83a347;
  --text-color: #4b4a48;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 90%;
  margin: auto;
}

header {
  background-color: var(--third-color);
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header_container {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 250px;
}
.logo img {
  width: 100%;
  display: block;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;
  transition: all ease-in 200ms;
}
.menu ul li a:hover {
  background-color: var(--r);
}

.hero {
  padding-top: 80px;
  overflow: hidden;
}
.hero .hero__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .hero__container .hero__text {
  text-align: center;
  color: var(--text-color);
  font-weight: 400;
}
.hero .hero__container .hero__text .title {
  font-size: 3rem;
  color: var(--second-color);
  font-weight: 700;
  margin-bottom: 20px;
}
.hero .hero__container .hero__img {
  width: 100%;
}
.hero .hero__container .hero__img img {
  width: 100%;
}

.featured {
  background-color: var(--second-color);
  color: #fff;
  padding: 20px 40px;
}
.featured p {
  font-size: 1.2rem;
  text-align: center;
}
.featured p span {
  font-weight: 700;
}

.mission {
  padding: 50px 0;
}
.mission .title__section {
  font-size: 2rem;
  font-weight: 700;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 10px;
}
.mission .line__section {
  height: 2px;
  background-color: var(--text-color);
  border: none;
  margin-bottom: 10px;
}
.mission .mission__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}
.mission .mission__content .mission__img {
  width: 80%;
  margin: 0 auto;
}
.mission .mission__content .mission__img img {
  width: 100%;
  display: block;
}
.mission .text__section {
  text-align: justify;
  color: var(--text-color);
}

.benefits {
  padding: 50px 0;
  background-color: var(--primary-color);
}
.benefits .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits .cards .card {
  width: 100%;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}
.benefits .cards .card i {
  font-size: 3rem;
  color: var(--third-color);
  margin-bottom: 10px;
}
.benefits .cards .card .title__card {
  font-size: 1.5rem;
  color: var(--second-color);
  margin-bottom: 10px;
}
.benefits .cards .card .text__card {
  color: var(--text-color);
}

.final {
  padding-bottom: 50px;
  overflow: hidden;
}
.final .final__image {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 20px;
}
.final .final__image img {
  width: 100%;
}
.final .final__text {
  text-align: center;
  color: var(--text-color);
}

.gallery {
  padding: 50px 0;
}
.gallery .title__gallery {
  font-size: 2rem;
  font-weight: 700;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 10px;
}
.gallery .gallery__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gallery .gallery__container a {
  display: block;
  width: 70%;
  margin: 0 auto;
  border: 2px solid var(--text-color);
}
.gallery .gallery__container a img {
  width: 100%;
  display: block;
}

footer {
  background-color: var(--second-color);
  padding: 20px;
  text-align: center;
  color: #fff;
}

.btn__top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--third-color);
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .hero .hero__container .hero__img {
    width: 50%;
    margin: auto;
  }
  .mission .mission__content .mission__img {
    width: 50%;
  }
  .benefits .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefits .cards .card {
    width: 45%;
  }
  .gallery .gallery__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery .gallery__container a {
    width: 45%;
  }
}
@media screen and (min-width: 1100px) {
  .hero {
    background-image: url(../img/BG-Hero.png);
    background-size: cover;
  }
  .hero .hero__container {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .hero .hero__container .hero__text {
    width: 50%;
    text-align: left;
  }
  .hero .hero__container .hero__img {
    width: 90%;
  }
  .hero .hero__container .hero__img img {
    width: 100%;
  }
  .mission {
    padding: 50px 40px;
  }
  .mission .mission__content {
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
  }
  .mission .mission__content .mission__img {
    width: 30%;
    margin: 0 auto;
  }
  .mission .mission__content .mission__img img {
    width: 100%;
    display: block;
  }
  .mission .mission__content .text__section {
    display: block;
    width: 70%;
  }
  .final .final__image {
    width: 30%;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    width: 70%;
  }
  .gallery .gallery__container a {
    width: 30%;
  }
}/*# sourceMappingURL=styles.css.map */