* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #F7E9DF;
  --second-color: #122067;
  --third-color: #E65E12;
  --text-color: #4b4a48;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 90%;
  margin: auto;
}

header {
  background-color: var(--third-color);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.hero {
  padding-top: 60px;
  overflow: hidden;
}
.hero .hero__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .hero__container .hero__text {
  text-align: center;
  color: var(--text-color);
  font-weight: 400;
}
.hero .hero__container .hero__text .title {
  font-size: 3rem;
  color: var(--second-color);
  font-weight: 700;
  margin-bottom: 20px;
}
.hero .hero__container .hero__img {
  width: 100%;
}
.hero .hero__container .hero__img img {
  width: 100%;
}

.featured {
  background-color: var(--second-color);
  color: #fff;
  padding: 20px 40px;
}
.featured p {
  font-size: 1.2rem;
  text-align: center;
}
.featured p span {
  font-weight: 700;
}

.mission {
  padding: 50px 0;
}
.mission .title__section {
  font-size: 2rem;
  font-weight: 700;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 10px;
}
.mission .line__section {
  height: 2px;
  background-color: var(--text-color);
  border: none;
  margin-bottom: 10px;
}
.mission .mission__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}
.mission .mission__content .mission__img {
  width: 80%;
  margin: 0 auto;
}
.mission .mission__content .mission__img img {
  width: 100%;
  display: block;
}
.mission .text__section {
  text-align: justify;
  color: var(--text-color);
}

.benefits {
  padding: 50px 0;
  background-color: var(--primary-color);
}
.benefits .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits .cards .card {
  width: 100%;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}
.benefits .cards .card i {
  font-size: 3rem;
  color: var(--third-color);
  margin-bottom: 10px;
}
.benefits .cards .card .title__card {
  font-size: 1.5rem;
  color: var(--second-color);
  margin-bottom: 10px;
}
.benefits .cards .card .text__card {
  color: var(--text-color);
}

.final {
  padding-bottom: 50px;
  overflow: hidden;
}
.final .final__image {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 20px;
}
.final .final__image img {
  width: 100%;
}
.final .final__text {
  text-align: center;
  color: var(--text-color);
}

.gallery {
  padding: 50px 0;
}
.gallery .title__gallery {
  font-size: 2rem;
  font-weight: 700;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 10px;
}
.gallery .gallery__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gallery .gallery__container a {
  display: block;
  width: 70%;
  margin: 0 auto;
  border: 2px solid var(--text-color);
}
.gallery .gallery__container a img {
  width: 100%;
  display: block;
}

footer {
  background-color: var(--second-color);
  padding: 20px;
  text-align: center;
  color: #fff;
}

.btn__top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--third-color);
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */