*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #F7E9DF;
    --second-color: #83a347;
    --third-color: #83a347;
    --text-color: #4b4a48;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 90%;
    margin: auto;
}

header{
    background-color: var(--third-color);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header_container{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 250px;
    img{
        width: 100%;
        display: block;
    }
}

.menu{
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 20px;
        li{
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 1rem;
                background-color: rgba($color: #000000, $alpha: .5);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-decoration: none;
                transition: all ease-in 200ms;
            }
            a:hover{
                background-color: var(--r);
            }
        }
    }
}

.hero{
    padding-top: 80px;
    overflow: hidden;
    .hero__container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .hero__text{
            text-align: center;
            color: var(--text-color);
            font-weight: 400;
            .title{
                font-size: 3rem;
                color: var(--second-color);
                font-weight: 700;
                margin-bottom: 20px;
            }
        }

        .hero__img{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}

.featured{
    background-color: var(--second-color);
    color: #fff;
    padding: 20px 40px;
    p{
        font-size: 1.2rem;
        text-align: center;
        span{
            font-weight: 700;
        }
    }
}

.mission{
    padding: 50px 0;
    .title__section{
        font-size: 2rem;
        font-weight: 700;
        color: var(--second-color);
        text-align: center;
        margin-bottom: 10px;
    }
    
    .line__section{
        height: 2px;
        background-color: var(--text-color);
        border: none;
        margin-bottom: 10px;
    }

    .mission__content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
        .mission__img{
            width: 80%;
            margin: 0 auto;
            img{
                width: 100%;
                display: block;
            }
        }
    }
    
    .text__section{
        text-align: justify;
        color: var(--text-color);
    }
}

.benefits{
    padding: 50px 0;
    background-color: var(--primary-color);
    .cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .card{
            width: 100%;
            background-color: #fff;
            padding: 30px;
            text-align: center;
            box-shadow:
                2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
                6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
                12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
                22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
                41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
                100px 100px 80px rgba(0, 0, 0, 0.07);
            i{
                font-size: 3rem;
                color: var(--third-color);
                margin-bottom: 10px;
            }
            .title__card{
                font-size: 1.5rem;
                color: var(--second-color);
                margin-bottom: 10px;
            }
            .text__card{
                color: var(--text-color);
            }
        }
    }
}

.final{
    padding-bottom: 50px;
    overflow: hidden;
    .final__image{
        margin: 0 auto;
        width: 60%;
        margin-bottom: 20px;
        img{
            width: 100%;
        }
    }
    .final__text{
        text-align: center;
        color: var(--text-color);
    }
}

.gallery{
    padding: 50px 0;
    .title__gallery{
        font-size: 2rem;
        font-weight: 700;
        color: var(--second-color);
        text-align: center;
        margin-bottom: 10px;
    }
    .gallery__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        a{
            display: block;
            width: 70%;
            margin: 0 auto;
            border: 2px solid var(--text-color);
            img{
                width: 100%;
                display: block;
            }
        }
    }
}

footer{
    background-color: var(--second-color);
    padding: 20px;
    text-align: center;
    color: #fff;
}

.btn__top{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--third-color);
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}

@import 'medias_querys';